@page "/mars"
@inject HttpClient Http

<h1>Mars Weather</h1>

@if (latestForecast == null)
{
    <p><em>Loading</em></p>
}
else
{
    <div class="panel panel-default">
        <div class="panel-heading">Date: @latestForecast.Last_UTC.ToLocalTime().ToShortDateString()</div>
        <div class="panel-body">
            <ul>
                <li>Season: @latestForecast.Season</li>
                <li>Temperature: @latestForecast.TemperatureInCelsius.Average C</li>
                <li>Pressure: @latestForecast.PressureInPascal.Average Pa</li>
                <li>Wind Speed: @latestForecast.WindSpeedInMetersPerSecond.Average m/s @GetWindDirection()</li>
            </ul>
        </div>
    </div>
}

@code {
    private const string MARS_INSIGHT_JSON_URL = "https://mars.nasa.gov/rss/api/?feed=weather&category=insight&feedtype=json&ver=1.0";
    
    private MarsForecast latestForecast;
    private WindMeasurement windMeasurement;

    protected override async Task OnInitializedAsync()
    {
        var insightJson = await Http.GetStringAsync(MARS_INSIGHT_JSON_URL);
        var insightJObject = JObject.Parse(insightJson);
        if (insightJObject.TryGetValue("sol_keys", out var keysJObject))
        {
            var keys = keysJObject.ToObject<string[]>();
            var latestForecastJObject = insightJObject[keys[^1]];
            latestForecast = latestForecastJObject.ToObject<MarsForecast>();
            windMeasurement = latestForecastJObject["WD"]["most_common"].ToObject<WindMeasurement>();
        }
    }

    public string GetWindDirection()
    {
        return windMeasurement?.Direction ?? "-";
    }

    public class MarsForecast
    {
        public DateTime First_UTC { get; set; }
        public DateTime Last_UTC { get; set; }
        public QuantityMeasurement AT { get; set; }
        public QuantityMeasurement PRE { get; set; }
        public QuantityMeasurement HWS { get; set; }
        public string Season { get; set; }

        public QuantityMeasurement TemperatureInCelsius => AT;
        public QuantityMeasurement PressureInPascal => PRE;
        public QuantityMeasurement WindSpeedInMetersPerSecond => HWS;
    }

    public class QuantityMeasurement
    {
        public float av { get; set; }
        public int ct { get; set; }
        public float mn { get; set; }
        public float mx { get; set; }

        public float Average => av;
        public float Min => mn;
        public float Max => mx;
    }

    public class WindMeasurement
    {
        public float compass_degrees { get; set; }
        public string compass_point { get; set; }
        public float compass_right { get; set; }
        public float compass_up { get; set; }
        public int ct { get; set; }

        public string Direction => compass_point;
    }
}